.navbar {
  display: flex;
  background-color: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}
.hamburger {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.logo {
  display: flex;
  align-items: center;
  color: black;
  gap: 5px;
  text-decoration: none;
}
.account {
  background-color: #ff3b30;
  color: black;
  padding: 0.4rem 1.5rem;
  font-size: 16px;
  text-decoration: none;
  border-radius: 3px;
}
